In [1]:
# UBCF #
import numpy as np
import pandas as pd

In [2]:
!pip install fsspec

Requirement already satisfied: fsspec in c:\users\rajesh\anaconda3\lib\site-packages (0.7.4)

In [3]:
book_df = pd.read_csv(r"D:\dataset\book.csv", encoding = "ISO-8859-1")

In [4]:
book_df["Book.Title"]= book_df["Book.Title"].str.title()

In [5]:
print(book_df.shape)
book_df.head()

(10000, 3)

   User.ID                                         Book.Title  Book.Rating
0   276726                                Classical Mythology            5
1   276729                                       Clara Callan            3
2   276729                               Decision In Normandy            6
3   276736  Flu: The Story Of The Great Influenza Pandemic...            8
4   276737                             The Mummies Of Urumchi            6

In [6]:
book_df.rename(columns={"User.ID":"userid", "Book.Title":"Book", "Book.Rating":"Bookrating"},inplace=True)

In [7]:
book_df

      userid                                               Book  Bookrating
0     276726                                Classical Mythology           5
1     276729                                       Clara Callan           3
2     276729                               Decision In Normandy           6
3     276736  Flu: The Story Of The Great Influenza Pandemic...           8
4     276737                             The Mummies Of Urumchi           6
...      ...                                                ...         ...
9995  162121       American Fried: Adventures Of A Happy Eater.           7
9996  162121                              Cannibal In Manhattan           9
9997  162121                    How To Flirt: A Practical Guide           7
9998  162121                                           Twilight           8
9999  162129                       Kids Say The Darndest Things           6

[10000 rows x 3 columns]

In [8]:
#number of unique users in the dataset
len(book_df.userid.unique())

2182

In [9]:
len(book_df.Book.unique())

9638

In [10]:
data=book_df.groupby(['userid','Book'])['Bookrating'].mean().reset_index()
data['Bookrating']=round(data['Bookrating'],0)
print(data.shape)
data.head()

(9992, 3)

   userid                                               Book  Bookrating
0       8                            Ancient Celtic Romances         5.0
1       8                Keepers Of The Earth Teachers Guide         6.0
2       8                                  The Art Of Celtia         7.0
3       8                            The Celts Activity Book         6.0
4       8  The Western Way: A Practical Guide To The West...         5.0

In [11]:
data.to_csv(r"D:\dataset\test.csv")

In [12]:
user_data = data.pivot(index='userid',
                                 columns='Book',
                                 values='Bookrating').reset_index()

In [13]:

user_data

Book,userid,"Jason, Madison &Amp",Other Stories;Merril;1985;Mcclelland &Amp,Repairing Pc Drives &Amp,'48,'O Au No Keia: Voices From Hawai'I'S Mahu And Transgender Communities,...And The Horse He Rode In On : The People V. Kenneth Starr,01-01-00: A Novel Of The Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,...,Zombies Of The Gene Pool,Zoot Suit And Other Plays,Zora Hurston And The Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall From Trees\ And Other Japanese Proverbs,\I Won'T Learn From You\: And Other Thoughts On Creative Maladjustment,"\More More More,\ Said The Baby",\O\ Is For Outlaw,"\Surely You'Re Joking, Mr. Feynman!\: Adventures Of A Curious Character","\Well, There'S Your Problem\: Cartoons",Ãƒ?Ã‚?Bermorgen.
0,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,278846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,278849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,278851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2180,278852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,278854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
user_data.to_csv(r"D:\dataset\test1.csv",index=False)

In [15]:
user_data.index = data.userid.unique()

In [16]:
user_data

Book,userid,"Jason, Madison &Amp",Other Stories;Merril;1985;Mcclelland &Amp,Repairing Pc Drives &Amp,'48,'O Au No Keia: Voices From Hawai'I'S Mahu And Transgender Communities,...And The Horse He Rode In On : The People V. Kenneth Starr,01-01-00: A Novel Of The Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,...,Zombies Of The Gene Pool,Zoot Suit And Other Plays,Zora Hurston And The Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall From Trees\ And Other Japanese Proverbs,\I Won'T Learn From You\: And Other Thoughts On Creative Maladjustment,"\More More More,\ Said The Baby",\O\ Is For Outlaw,"\Surely You'Re Joking, Mr. Feynman!\: Adventures Of A Curious Character","\Well, There'S Your Problem\: Cartoons",Ãƒ?Ã‚?Bermorgen.
8,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,278846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278849,278849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278851,278851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278852,278852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278854,278854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
user_data.fillna(0, inplace=True)

In [18]:
user_data

Book,userid,"Jason, Madison &Amp",Other Stories;Merril;1985;Mcclelland &Amp,Repairing Pc Drives &Amp,'48,'O Au No Keia: Voices From Hawai'I'S Mahu And Transgender Communities,...And The Horse He Rode In On : The People V. Kenneth Starr,01-01-00: A Novel Of The Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,...,Zombies Of The Gene Pool,Zoot Suit And Other Plays,Zora Hurston And The Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall From Trees\ And Other Japanese Proverbs,\I Won'T Learn From You\: And Other Thoughts On Creative Maladjustment,"\More More More,\ Said The Baby",\O\ Is For Outlaw,"\Surely You'Re Joking, Mr. Feynman!\: Adventures Of A Curious Character","\Well, There'S Your Problem\: Cartoons",Ãƒ?Ã‚?Bermorgen.
8,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278849,278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278851,278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278852,278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278854,278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
#Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [20]:
user_sim = 1 - pairwise_distances( user_data.values,metric='cosine')

In [21]:
user_sim

array([[1.        , 0.39429125, 0.40634798, ..., 0.4738791 , 0.4738791 ,
        0.4738791 ],
       [0.39429125, 1.        , 0.71347724, ..., 0.83205029, 0.83205029,
        0.83205029],
       [0.40634798, 0.71347724, 1.        , ..., 0.85749292, 0.85749293,
        0.85749292],
       ...,
       [0.4738791 , 0.83205029, 0.85749292, ..., 1.        , 1.        ,
        0.99999999],
       [0.4738791 , 0.83205029, 0.85749293, ..., 1.        , 1.        ,
        1.        ],
       [0.4738791 , 0.83205029, 0.85749292, ..., 0.99999999, 1.        ,
        1.        ]])

In [22]:
user_sim_data = pd.DataFrame(user_sim)

In [23]:
user_sim_data.index = data.userid.unique()
user_sim_data.columns = data.userid.unique()

In [41]:
user_sim_data.iloc[0:20, 0:20]

,8,9,10,12,14,16,17,19,22,26,32,39,42,44,51,53,56,64,67,69
8,0.000000,0.394291,0.406348,0.364044,0.395067,0.413021,0.398829,0.444661,0.451572,0.420872,0.459730,0.457200,0.467431,0.466235,0.466668,0.455894,0.464352,0.471070,0.471314,0.468546
9,0.394291,0.000000,0.713477,0.639199,0.693670,0.725195,0.700275,0.780749,0.792882,0.738980,0.807207,0.802765,0.820729,0.818629,0.819389,0.800472,0.815323,0.827118,0.827546,0.822686
10,0.406348,0.713477,0.000000,0.658744,0.714881,0.747370,0.721688,0.804623,0.817127,0.761576,0.831890,0.827312,0.845826,0.843661,0.844445,0.824949,0.840254,0.852409,0.852851,0.847842
12,0.364044,0.639199,0.658744,0.000000,0.640457,0.669563,0.646555,0.720855,0.732058,0.682290,0.745284,0.741182,0.757769,0.755830,0.756532,0.739065,0.752777,0.763667,0.764063,0.759575
14,0.395067,0.693670,0.714881,0.640457,0.000000,0.726622,0.701653,0.782285,0.794443,0.740434,0.808796,0.804344,0.822345,0.820240,0.821002,0.802047,0.816927,0.828746,0.829175,0.824305
16,0.413021,0.725195,0.747370,0.669563,0.726622,0.000000,0.733540,0.817837,0.830547,0.774084,0.845552,0.840899,0.859717,0.857517,0.858313,0.838497,0.854053,0.866409,0.866857,0.861767
17,0.398829,0.700275,0.721688,0.646555,0.701653,0.733540,0.000000,0.789733,0.802007,0.747484,0.816497,0.812003,0.830174,0.828050,0.828819,0.809684,0.824705,0.836636,0.837069,0.832154
19,0.444661,0.780749,0.804623,0.720855,0.782285,0.817837,0.789733,0.000000,0.894171,0.833383,0.910327,0.905316,0.925576,0.923208,0.924065,0.902731,0.919479,0.932780,0.933263,0.927783
22,0.451572,0.792882,0.817127,0.732058,0.794443,0.830547,0.802007,0.894171,0.000000,0.846334,0.924474,0.919386,0.939960,0.937555,0.938426,0.916760,0.933768,0.947277,0.947767,0.942201
26,0.420872,0.738980,0.761576,0.682290,0.740434,0.774084,0.747484,0.833383,0.846334,0.000000,0.861625,0.856883,0.876059,0.873817,0.874629,0.854436,0.870288,0.882878,0.883335,0.878148
32,0.459730,0.807207,0.831890,0.745284,0.808796,0.845552,0.816497,0.910327,0.924474,0.861625,0.000000,0.935996,0.956943,0.954494,0.955380,0.933323,0.950639,0.964391,0.964891,0.959224
39,0.457200,0.802765,0.827312,0.741182,0.804344,0.840899,0.812003,0.905316,0.919386,0.856883,0.935996,0.000000,0.951676,0.949241,0.950122,0.928186,0.945406,0.959083,0.959580,0.953945
42,0.467431,0.820729,0.845826,0.757769,0.822345,0.859717,0.830174,0.925576,0.939960,0.876059,0.956943,0.951676,0.000000,0.970483,0.971385,0.948958,0.966563,0.980546,0.981054,0.975293
44,0.466235,0.818629,0.843661,0.755830,0.820240,0.857517,0.828050,0.923208,0.937555,0.873817,0.954494,0.949241,0.970483,0.000000,0.968899,0.946530,0.964090,0.978037,0.978544,0.972797
51,0.466668,0.819389,0.844445,0.756532,0.821002,0.858313,0.828819,0.924065,0.938426,0.874629,0.955380,0.950122,0.971385,0.968899,0.000000,0.947409,0.964985,0.978945,0.979452,0.973701
53,0.455894,0.800472,0.824949,0.739065,0.802047,0.838497,0.809684,0.902731,0.916760,0.854436,0.933323,0.928186,0.948958,0.946530,0.947409,0.000000,0.942706,0.956344,0.956839,0.951220
56,0.464352,0.815323,0.840254,0.752777,0.816927,0.854053,0.824705,0.919479,0.933768,0.870288,0.950639,0.945406,0.966563,0.964090,0.964985,0.942706,0.000000,0.974087,0.974591,0.968868
64,0.471070,0.827118,0.852409,0.763667,0.828746,0.866409,0.836636,0.932780,0.947277,0.882878,0.964391,0.959083,0.980546,0.978037,0.978945,0.956344,0.974087,0.000000,0.988690,0.982884
67,0.471314,0.827546,0.852851,0.764063,0.829175,0.866857,0.837069,0.933263,0.947767,0.883335,0.964891,0.959580,0.981054,0.978544,0.979452,0.956839,0.974591,0.988690,0.000000,0.983393
69,0.468546,0.822686,0.847842,0.759575,0.824305,0.861767,0.832154,0.927783,0.942201,0.878148,0.959224,0.953945,0.975293,0.972797,0.973701,0.951220,0.968868,0.982884,0.983393,0.000000

In [42]:
np.fill_diagonal(user_sim, 0)
user_sim_data.iloc[0:20, 0:20]

,8,9,10,12,14,16,17,19,22,26,32,39,42,44,51,53,56,64,67,69
8,0.000000,0.394291,0.406348,0.364044,0.395067,0.413021,0.398829,0.444661,0.451572,0.420872,0.459730,0.457200,0.467431,0.466235,0.466668,0.455894,0.464352,0.471070,0.471314,0.468546
9,0.394291,0.000000,0.713477,0.639199,0.693670,0.725195,0.700275,0.780749,0.792882,0.738980,0.807207,0.802765,0.820729,0.818629,0.819389,0.800472,0.815323,0.827118,0.827546,0.822686
10,0.406348,0.713477,0.000000,0.658744,0.714881,0.747370,0.721688,0.804623,0.817127,0.761576,0.831890,0.827312,0.845826,0.843661,0.844445,0.824949,0.840254,0.852409,0.852851,0.847842
12,0.364044,0.639199,0.658744,0.000000,0.640457,0.669563,0.646555,0.720855,0.732058,0.682290,0.745284,0.741182,0.757769,0.755830,0.756532,0.739065,0.752777,0.763667,0.764063,0.759575
14,0.395067,0.693670,0.714881,0.640457,0.000000,0.726622,0.701653,0.782285,0.794443,0.740434,0.808796,0.804344,0.822345,0.820240,0.821002,0.802047,0.816927,0.828746,0.829175,0.824305
16,0.413021,0.725195,0.747370,0.669563,0.726622,0.000000,0.733540,0.817837,0.830547,0.774084,0.845552,0.840899,0.859717,0.857517,0.858313,0.838497,0.854053,0.866409,0.866857,0.861767
17,0.398829,0.700275,0.721688,0.646555,0.701653,0.733540,0.000000,0.789733,0.802007,0.747484,0.816497,0.812003,0.830174,0.828050,0.828819,0.809684,0.824705,0.836636,0.837069,0.832154
19,0.444661,0.780749,0.804623,0.720855,0.782285,0.817837,0.789733,0.000000,0.894171,0.833383,0.910327,0.905316,0.925576,0.923208,0.924065,0.902731,0.919479,0.932780,0.933263,0.927783
22,0.451572,0.792882,0.817127,0.732058,0.794443,0.830547,0.802007,0.894171,0.000000,0.846334,0.924474,0.919386,0.939960,0.937555,0.938426,0.916760,0.933768,0.947277,0.947767,0.942201
26,0.420872,0.738980,0.761576,0.682290,0.740434,0.774084,0.747484,0.833383,0.846334,0.000000,0.861625,0.856883,0.876059,0.873817,0.874629,0.854436,0.870288,0.882878,0.883335,0.878148
32,0.459730,0.807207,0.831890,0.745284,0.808796,0.845552,0.816497,0.910327,0.924474,0.861625,0.000000,0.935996,0.956943,0.954494,0.955380,0.933323,0.950639,0.964391,0.964891,0.959224
39,0.457200,0.802765,0.827312,0.741182,0.804344,0.840899,0.812003,0.905316,0.919386,0.856883,0.935996,0.000000,0.951676,0.949241,0.950122,0.928186,0.945406,0.959083,0.959580,0.953945
42,0.467431,0.820729,0.845826,0.757769,0.822345,0.859717,0.830174,0.925576,0.939960,0.876059,0.956943,0.951676,0.000000,0.970483,0.971385,0.948958,0.966563,0.980546,0.981054,0.975293
44,0.466235,0.818629,0.843661,0.755830,0.820240,0.857517,0.828050,0.923208,0.937555,0.873817,0.954494,0.949241,0.970483,0.000000,0.968899,0.946530,0.964090,0.978037,0.978544,0.972797
51,0.466668,0.819389,0.844445,0.756532,0.821002,0.858313,0.828819,0.924065,0.938426,0.874629,0.955380,0.950122,0.971385,0.968899,0.000000,0.947409,0.964985,0.978945,0.979452,0.973701
53,0.455894,0.800472,0.824949,0.739065,0.802047,0.838497,0.809684,0.902731,0.916760,0.854436,0.933323,0.928186,0.948958,0.946530,0.947409,0.000000,0.942706,0.956344,0.956839,0.951220
56,0.464352,0.815323,0.840254,0.752777,0.816927,0.854053,0.824705,0.919479,0.933768,0.870288,0.950639,0.945406,0.966563,0.964090,0.964985,0.942706,0.000000,0.974087,0.974591,0.968868
64,0.471070,0.827118,0.852409,0.763667,0.828746,0.866409,0.836636,0.932780,0.947277,0.882878,0.964391,0.959083,0.980546,0.978037,0.978945,0.956344,0.974087,0.000000,0.988690,0.982884
67,0.471314,0.827546,0.852851,0.764063,0.829175,0.866857,0.837069,0.933263,0.947767,0.883335,0.964891,0.959580,0.981054,0.978544,0.979452,0.956839,0.974591,0.988690,0.000000,0.983393
69,0.468546,0.822686,0.847842,0.759575,0.824305,0.861767,0.832154,0.927783,0.942201,0.878148,0.959224,0.953945,0.975293,0.972797,0.973701,0.951220,0.968868,0.982884,0.983393,0.000000

In [43]:
#Most Similar Users
user_sim_data.idxmax(axis=1)[0:20]

8     278755
9     278755
10    278755
12    278755
14    278755
16    278755
17    278755
19    278418
22    278755
26    278755
32    278755
39    278755
42    278755
44    278755
51    278755
53      1996
56    278755
64    278755
67    278755
69    278755
dtype: int64

In [44]:
data[(data['userid']==53) | (data['userid']==1996)]

      userid                   Book  Bookrating
28        53                   Prey         9.0
29        53              Reliquary        10.0
30        53             Sick Puppy         3.0
31        53         Turning Thirty         6.0
2189    1996  Csi, Miami: Heat Wave         7.0
2190    1996             Sick Puppy         8.0
2191    1996   Tempting The Heiress         7.0

In [45]:
user_1=data[data['userid']==53]

In [46]:
user_2=data[data['userid']==1996]

In [47]:
user_1

    userid            Book  Bookrating
28      53            Prey         9.0
29      53       Reliquary        10.0
30      53      Sick Puppy         3.0
31      53  Turning Thirty         6.0

In [48]:
user_2

      userid                   Book  Bookrating
2189    1996  Csi, Miami: Heat Wave         7.0
2190    1996             Sick Puppy         8.0
2191    1996   Tempting The Heiress         7.0

In [50]:
pd.merge(user_1,user_2,on='Book',how='outer')

   userid_x                   Book  Bookrating_x  userid_y  Bookrating_y
0      53.0                   Prey           9.0       NaN           NaN
1      53.0              Reliquary          10.0       NaN           NaN
2      53.0             Sick Puppy           3.0    1996.0           8.0
3      53.0         Turning Thirty           6.0       NaN           NaN
4       NaN  Csi, Miami: Heat Wave           NaN    1996.0           7.0
5       NaN   Tempting The Heiress           NaN    1996.0           7.0

In [52]:
#IBCF
sick_user_rating = user_data['Reliquary']

In [53]:
sick_user_rating

8         0.0
9         0.0
10        0.0
12        0.0
14        0.0
         ...
278846    0.0
278849    0.0
278851    0.0
278852    0.0
278854    0.0
Name: Reliquary, Length: 2182, dtype: float64

In [56]:
similar_to_sick = user_data.corrwith(sick_user_rating)

In [63]:
similar_to_sick.head(40)

Book
userid                                                                                                   -0.018508
 Jason, Madison &Amp                                                                                     -0.000459
 Other Stories;Merril;1985;Mcclelland &Amp                                                               -0.000459
 Repairing Pc Drives &Amp                                                                                -0.000459
'48                                                                                                      -0.000459
'O Au No Keia: Voices From Hawai'I'S Mahu And Transgender Communities                                    -0.000459
...And The Horse He Rode In On : The People V. Kenneth Starr                                             -0.000459
01-01-00: A Novel Of The Millennium                                                                      -0.000459
1,401 More Things That P*Ss Me Off                                                                       -0.000459
10 Commandments Of Dating                                                                                -0.000459
100 Great Fantasy Short, Short Stories                                                                   -0.000459
1001 Brilliant Ways To Checkmate                                                                         -0.000459
101 Bright Ideas: Esl Activities For All Ages                                                            -0.000459
101 Dalmatians                                                                                           -0.000459
101 Essential Tips: House Plants                                                                         -0.000459
101 Telephone Jokes                                                                                      -0.000459
101 Wacky Computer Jokes                                                                                 -0.000459
101 Ways To Make Money At Home                                                                           -0.000459
11 Edward Street                                                                                         -0.000459
11Th Hour                                                                                                -0.000459
13 99 Euros                                                                                              -0.000459
14,000 Things To Be Happy About                                                                          -0.000459
1984                                                                                                     -0.000459
1St To Die: A Novel                                                                                      -0.000649
20 Jahre 40 Bleiben. Jung Und SchÃ£?Ã‚Â¶N In Den Besten Jahren.                                             -0.000459
20 Years Of Censored News                                                                                -0.000459
20,000 Leagues Under The Sea (Wordsworth Collection)                                                     -0.000459
20,001 Names For Baby                                                                                    -0.000459
2001 Spanish And English Idioms/2001 Modismos Espanoles E Ingleses: 2001 Modismos Espanoles E Ingleses   -0.000459
2010: Odyssey Two                                                                                        -0.000459
2061: Odyssey Three                                                                                      -0.000642
22 Indigo Place                                                                                          -0.000459
24 Hours                                                                                                 -0.000459
250 Things You Can Do To Make Your Cat Adore You                                                         -0.000459
253                                                                                                      -0.000459
28 Barbary Lane : A \Tales Of The City\ Omnibus                                                          -0.000459
2Nd Chance                                                                                               -0.000649
3  Bowls : Vegetarian Recipes From An American Zen Buddhist Monastery                                    -0.000459
3 Plays: Our Town, The Skin Of Our Teeth, The Matchmaker (Perennial Classics)                            -0.000459
30 Things Everyone Should Know How To Do Before Turning 30                                               -0.000459
dtype: float64

In [65]:
corr_sick = pd.DataFrame(similar_to_sick, columns=['Correlation'])
corr_sick.dropna(inplace=True)
corr_sick.head(10)

                                                    Correlation
Book
userid                                                -0.018508
 Jason, Madison &Amp                                  -0.000459
 Other Stories;Merril;1985;Mcclelland &Amp            -0.000459
 Repairing Pc Drives &Amp                             -0.000459
'48                                                   -0.000459
'O Au No Keia: Voices From Hawai'I'S Mahu And T...    -0.000459
...And The Horse He Rode In On : The People V. ...    -0.000459
01-01-00: A Novel Of The Millennium                   -0.000459
1,401 More Things That P*Ss Me Off                    -0.000459
10 Commandments Of Dating                             -0.000459

In [67]:
corr_sick[corr_sick['Correlation'] > 0].sort_values(by='Correlation', ascending=False).head(5)

                Correlation
Book
Reliquary          1.000000
Prey               1.000000
Turning Thirty     0.599765
Sick Puppy         0.350747